{% block body %}

<div class="col-8 mx-auto">

    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="2"><h2>Tuteur</h2></th>
            </tr>
        <thead>
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ tuteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tuteur.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ tuteur.prenom }}</td>
            </tr>
            <tr>
                <th>Fonction occupée</th>
                <td>{{ tuteur.fonctionOccupe }}</td>
            </tr>
            <tr>
                <th>Années d'experience</th>
                <td>{{ tuteur.anneeExperience }}</td>
            </tr>
            <tr>
                <th>Diplôme</th>
                <td>{{ tuteur.diplomeMax }}</td>
            </tr>
            <tr>
                <th>Télephone</th>
                <td>{{ tuteur.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ tuteur.email }}</td>
            </tr>
            <tr>
                <th>Date d'habilitation</th>
                <td>{{ tuteur.dateHabilitation ? tuteur.dateHabilitation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date d'obtention du diplôme</th>
                <td>{{ tuteur.dateDiplome ? tuteur.dateDiplome|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date d'envoi de l'email au tutorat</th>
                <td>{{ tuteur.dateEnvoiEmailTutorat ? tuteur.dateEnvoiEmailTutorat|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

</div><br>

{% endblock %}
